/*--------------body and so on-*/

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot?#') format('eot'), /* IE6–8 */ url('../fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/BYekan.svg') format('svg');
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: BYekan;
    /*color: white;*/
}

body {
    height: 100%;
    overflow: hidden;
    background-color: rgba(242, 241, 239,0.1);
}

/*-----------------*/
#left-side {
    padding-top: 25px;
    /* Firefox */
    width: -moz-calc(100vw - 300px);
    /* WebKit */
    width: -webkit-calc(100vw - 300px);
    /* Standard */
    width: calc(100vw - 300px);
    height: 100%;
    position: absolute;
    left:0;
}

.leave {
    width: 70px;
    position: absolute;
    z-index: 100;
    left: 25px;
    top: 25px;
}

#date-box {
    width: 300px;
    min-height:100px;
    margin-bottom: 50px;
    background-color: #E4F1FE;
    padding:5px;
}

.box-head {
    width: 100%;
    border-bottom: 2px solid #3A539B;
    height: 35px;
    margin-bottom: 5px;
    background-color: #E4F1FE;
    overflow: hidden;

}

.box-head h2 {
    font-size: 1.5rem;
    color: #3A539B;
    margin-right: 10px;
    margin-top: 5px;
}
