<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام دانش آموز</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/staff/add_all.css' %}" type="text/css"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--keep the jquery above for internal js in extended pages-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" align="center">
    <h2>فرم ثبت نام</h2>
    <br>
    <form class="form-horizontal"  role="form" dir="rtl">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="نام">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="نام خانوادگی">
            </div>
        </div>
                <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="شماره ملی">
            </div>
        </div>
                <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="شماره تلفن همراه والد">
            </div>
        </div>
            <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="نام پدر دانش آموز">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">ثبت نام</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>